/*Sessão de estilo geral*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #92dce5; 
}
::-webkit-scrollbar-thumb {
  background: #5289ff;
  transition-duration: 0.1s;
}
::-webkit-scrollbar-thumb:hover {
  background: #154eca;
  border-radius: 10px;
}

body{
    background-color: #2d3047;
}


/* Sessão de estilo de José Fernandes*/
#darth_vader{
    display: flex;
}

#milleniun_falcon{
    height: 100vh;
    width: 20vw;
    border-right: 2px solid #5289ff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    
}

#milleniun_falcon_master, #milleniun_falcon_copilot, #milleniun_falcon_wings{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    list-style: none;
    color: #eee5e9;
}

#milleniun_falcon_planet_selected{
    color: #5289ff;
    text-decoration: underline;
}

#dookan_tyranus{
    background-color: #5289ff;
    height: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#dookan_tyranus > h1{
    margin: 10px;
    color: #eee5e9;
    font-family: 'League Spartan', sans-serif;
    font-size: 62px;
}

#darth_vader > #luke_skywalker{
    margin: 10px;
    color: #eee5e9;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

#qui_gon_jinn{
    color: #5289ff;
    transition-duration: 0.1s;
}

#qui_gon_jinn:hover{
    color: #92dce5;
    font-weight: 300;
    text-decoration: underline;
}

#han_solo_code{
    background-color: #171930;
}

#han_solo_code > p{
    color: #92dce5;
}

#watto{
    color: #eee5e9;
}

#chewbacca{
    color: #a37774;
}

a{
    color: #eee5e9;
    text-decoration: none;
}